<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title></title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="style.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
	
	<div id="wrap">
			
		<div id="main" class="clearfix">
			<div id="m_header">
						<div id="txt_min">Министерство Здравоохрения <br/>Республики Беларусь</div>
						<div id="txt_adress">г.Гомель ул. Братьев Лизюковых 5<br/>Тел. 8 (0232) 55-88-99, 57-85-85</div>
						<div id="main_menu">
											<a href="">Главная</a>
											<a href="">Новости</a>
											<a href="">О больнице</a>
											<a href="">Направления</a>
											<a href="">Контакты</a>
						</div>
			</div>
			<div id="left_column">
					<ul id="vertical_menu">
						<li><a href="">Линк 1</a></li>
						<li><a href="">Линк 1ц34</a></li>
						<li><a href="">Линк 134</a></li>
						<li><a href="">Линк 31</a></li>
						<li><a href="">Линк 21</a></li>
						<li><a href="">Линк 132</a></li>
						<li><a href="">Линк 1</a></li>
						<li><a href="">Линк 12</a></li>
						<li><a href="">Линк 241</a></li>
						<li><a href="">Линк 1243</a></li>
					</ul>
			
			</div>
			<div id="rigtht_column">
				<h1>Дорогие друзья!</h1>
				
				<p>
				<img width="360" height="272" src="images/img001.jpg" style="float: right; margin: 0px 0px 10px 10px">
				Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!</p>
				<p>Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!</p>
				<p>Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!</p>
				<p>Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!Много спама, которое лень писать, ибо делать в дизайнах текст - картинкой -это ЗЛО!!</p>
			</div>
					
		</div>
	
	</div>
	
	<div id="footer">
	
		<div id="foot">
			<div id="footer_border">
			<div id="footer_context">
					<p id="ft_links">
							<a href=""> Линк 1</a> |
							<a href=""> Линк 2</a> |
							<a href=""> Линк 3</a> |
							<a href=""> Линк 4</a> |
							<a href=""> Линк 5</a> 
					</p>
					Учреждение "Гомельская областная клиническая больница" 2009. Все права защищены.
			</div>	
			</div>	
	
		</div>
	</div>
	</body>
</html>