* {margin:0;padding:0;}
html, body, #wrap {height: 100%; background: #96a4b1;}

p {
    font-family: Arial !important;
	text-align: justify;
}
div, li, span, h1, h2, h3, h4, h5, h6, a {
    font-family: Arial !important;
}

body > #wrap {height: auto; min-height: 230%; width:1128px; margin:0 auto; background: url(images/bg.png) 0% 0% repeat-y; overflow: hidden;}


#main {width:1128px; /*height:100px; padding-bottom: 100px;*/}  /* must be same height as the footer */
 	#m_header {height:266px; width:100%; background: url(images/header.jpg) 0% 0% no-repeat; }
		#txt_min {position: relative; top:50px; left:326px; width:323px; height:54px;  font: normal 21px Georgia; color: #390;}
		#txt_adress {position: relative; top: 0px; left: 780px; width: 310px; height: 54px; font: normal 18px Georgia; color: #6c7f92; text-align: right}
		#ych {position: relative; top: 28px; left: 313px; width: 800px; height: 54px; font: bold 22px Georgia; color: #304862; text-transform: uppercase; text-align:center;  }
			#str {position: relative; top: 75px; left: 39px; width: 250px; height: 54px; font: bold 25px Georgia; color: #65798d; }
		#main_menu {position: relative; top: 2px; left: 320px; width: 790px; height: 20px;}
			#main_menu a {font: normal 25px Georgia; color: #fff; padding: 0px 15px; cursor: hand; text-decoration: none}
			#main_menu a:hover {font: normal 25px Georgia; color: #99ff66; padding:0px 15px; cursor: hand; text-decoration: underline}

	#left_column {clear:both; float:left; width: 260px; margin: 10px 0px 0px 42px;}
		#mainlevel {list-style: none}
		#mainlevel li {margin:10px 0px;}
		
        #mainlevel a { 
            font: normal 16px Georgia; 
            color: #000; 
            text-decoration: underline; 
            padding: 0px;
		}

        #mainlevel li:nth-child(1n+11) a { 
            color: #ff6600;
            text-decoration: none;
		}

        #mainlevel li:nth-child(1n+11) a:hover { 
            color: black;
		}

		#mainlevel a:hover { 
            color:#ff6600;
		}

		a#pagelevel {font: normal 16px Georgia; color: #000; text-decoration: underline; padding: 0px;}
		a#pagelevel:hover {color:#ff6600;}
		.left_banners_item { width:220px;float:left; /*margin-top:100px;*/text-align:center;}
		.left_banners_item img {border: 1px solid #637ea0;}

	#rigtht_column	{ float:left; width: 740px; margin: 0px 0px 20px 38px;}
		#rigtht_column h1 {font: bold 25px Georgia; color: #690; padding:10px 0px; margin:0px;}
		#rigtht_column h2 {font: bold 20px Georgia; color: #65798d; padding:10px 0px; margin:0px;}
		#rigtht_column p {margin-bottom:10px;font: normal 16px Georgia;line-height:20px;}
        #rigtht_column ul {padding-left:30px; padding-top:10px; padding-bottom:10px;font: normal 16px Georgia;}
        #rigtht_column ol {padding-left:30px; padding-top:10px; padding-bottom:10px;font: normal 16px Georgia;}
        #rigtht_column ul li {padding-bottom:5px;font: normal 16px Georgia;}
        #rigtht_column ol li {padding-bottom:5px;font: normal 16px Georgia;}
        #rigtht_column a.pagenav {color:#ff6600;}
        #rigtht_column a.readon {margin:15px 0px;font: normal 16px Georgia;line-height:20px;text-decoration: underline;color:#000}
		#rigtht_column a:hover {color:#ff6600;}

#footer {position: relative; margin:0 auto; /*margin-top: -100px;*/	height: 100px;width:1128px;	clear:both; background: url(images/bg.png) 0% 0% repeat-y;}
	#footer_border {height:92px; width:100%; border-bottom:8px solid #96a4b1 }
		#footer_context {float:left; font: normal 12px Georgia; color:#555555; width: 775px; height:70px; border-top:1px solid #96a4b1; margin-left:340px}
		#footer_context p { font: normal 12px Georgia; color:#999; padding:8px 0px;margin:0px;}
		#footer_context p a {font: normal 12px Georgia; color: #ff6600; text-decoration: underline; padding: 0px 2px;margin:0px;}
		#footer_context table a {font: normal 12px Georgia; color: #ff6600; text-decoration: underline; padding: 0px 2px;margin:0px;}
		#ft_ml {float: right; width: 173px; height: 31px; padding: 0px; background: url("images/ml_logo.png") no-repeat scroll 0 0 transparent; margin:-60px 40px 0px 0px}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* ����� */
.contentpaneopen form + div {
  display: none;
}
.mod_form_gr {
  border: 1px solid #c0c0c0;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
  -moz-box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(192, 192, 192, 0.7) inset, 0px 0px 7px rgba(192, 192, 192, 0.7);
  margin: 15px 0;
}
.mod_form_gr .toggle {
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.mod_form_gr .form {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.mod_form_gr .form.show {
  height: auto;
  opacity: 1;
}
.mod_form_gr .arrow_top, .mod_form_gr .arrow_bottom {
  position: absolute;
  top: 2px;
  right: 5px;
  display: none;
  color: #c0c0c0;
  font-size: 12px;
}
.mod_form_gr .arrow_top.show, .mod_form_gr .arrow_bottom.show {
  display: inline-block;
}
.mod_form_gr form {
  padding: 10px;
}
.mod_form_gr input {
  width: 100% !important;
  height: 24px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mod_form_gr textarea {
  width: 100% !important;
  height: 80px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mod_form_gr input[type=file] { 
  border: none;
}
.mod_form_gr input[type=submit] { 
  height: 35px;
  width: 200px !important;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.mod_form_gr label {
  font-size: 15px;
}
.captcha + div input{
  width: 199px !important;
}
.mod_form_gr input[type=submit]:hover { 
  background-color: gray;
  color: white;
}

.btn-zapis {
	background: rgb(0, 128, 0);
	color: rgb(255, 165, 0);
	border-radius: 25px;
	padding: 10px;
	border: 2px solid rgb(255, 165, 0);
	font-weight: bold;
	cursor: pointer;
	float: right;
	position: relative;
	top: -120px;
}

.zapis {
	text-decoration: none;
}

.grafic {
	background: rgb(104, 133, 151);
	color: #fff;
	padding: 13px;
	border: 2px solid transparent;
	margin-right: 5%;
	margin-left: 5%;
	border-radius: 25px;
	font-weight: bolder;
	cursor: pointer;
	font-size: 14px;
}

.grafic:hover {
	border: 2px solid rgb(104, 133, 151);
	color: rgb(104, 133, 151);
	background: #fff;
}

.priem {
	background: rgb(104, 133, 151);
	color: rgb(255, 255, 255);
	padding: 13px;
	border: 2px solid transparent;
	border-radius: 25px;
	font-weight: bolder;
	cursor: pointer;
	width: 300px;
	margin: 1% 4%;
	font-size: 14px;
}

.priem:hover {
	border: 2px solid rgb(104, 133, 151);
	color: rgb(104, 133, 151);
	background: #fff;
}

.otkaz {
	background: rgb(103, 232, 70);
	color: rgb(255, 255, 255);
	padding: 13px;
	border: 2px solid transparent;
	border-radius: 25px;
	font-weight: bolder;
	cursor: pointer;
	width: 300px;
	margin: 1% 4%;
	font-size: 14px;
}

.otkaz:hover {
	border: 2px solid rgb(103, 232, 70);
	color: rgb(103, 232, 70);
	background: #fff;
}

.formobsv {
	display: flex;
	flex-direction: column;
	background-color: rgb(199, 212, 224);
	width: 50%;
	margin: 0 auto;
	padding: 20px 50px;
}

.formobsv li {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.formobsv li input, .formobsv li textarea {
	border: none;
	padding: 5px;
}

.formobsv section {
	display: flex;
	flex-direction: column;
}

.formobsv section li:first-child {
	border-top: 1px solid #fff;
	padding-top: 20px;
}

.formobsv section li:last-child {
	padding-bottom: 20px;
}

.btn-form {
	position: initial;
	top: 0;
	width: 40%;
	font-size: 100%;
	margin: 0 auto;
	margin-top: 30px;
}

.formline {
	border-top: 1px solid #ffffcc;
}

.formradio {
	display: flex;
	flex-direction: row;
}

.formradio input {
	margin-right: 15px;
}